/* work sans font form google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400;1,600;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* shared styles  */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.color-primary {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* nav styles */
header {
    height: 100vh;
    width: auto;

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-img {
    width: 66px;
    height: 30px;
}

.nav-title {
    font-size: 2.4rem;
    font-weight: 700;
}

.gamer {
    color: #FF42A5;
}

.nav-link ul {
    display: flex;
    align-items: center;
}

.nav-link li {
    list-style: none;
    margin-right: 20px;
}

.nav-link li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500px;

}

.font-awesome {
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    padding: 14px;
    font-size: 1rem;
    font-weight: 500;

}


/* banner section */
.banner-container {
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;


}

.banner-img {
    width: 411px;
    height: 446px;
    padding-right: 150px;

}

.banner-content {
    padding-left: 150px;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.banner-goat {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-list {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    gap: 12px;
}

.btn-primary {
    padding: 16px 30px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-top: 40px;

}

.btn-sky {
    background: #4EC5F7;
}

/* online games */
.online-container{
    margin-top: 0px;
}
.online-card {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}

.online-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;

}

.online-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;

}

.card-img {
    width: 182px;
    height: 240px;

}

.card-description {
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    margin-top: 18px;

}




/*    <!-- Play Instantly section --> */
.play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 100px;
}

.play-content {
    text-align: right;
}

.play-title {
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;

}

.play-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.play-img {
    width: 350px;
    height: 400px;
    margin-left: 90px;
    margin-top: 60px;


}

.small-img {
    position: relative;
    bottom: 160px;
}

.small-img img {
    width: 180px;
    height: 200px;


}

/* games section */
.games-section {
    width: 1500px;
    margin-left: 130px;
    margin-top: -100px;

}

.games-left {
    display: flex;
    margin: auto;
}

.games {
    display: flex;
    align-items: center;
    width: 200px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: whitesmoke;
    gap: 10px;
    margin-left: 10px;
    padding-left: 10px;

}

.games-right {
    display: flex;
    margin: auto;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.games:hover {
    outline: 2px solid #F948B2;
    color: #F948B2;
}

/* footer section */
.footer-container {
    background: #0B0223;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
}

.footer-img {
    width: 66px;
    height: 30px;
}

.footer-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
}

.our-story ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;


}

.btn-img {

    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 30px;

}

.terms {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 100px;

}

/* Apply responsive styles for mobile devices */
@media (max-width: 768px) {

    .nav,
    .nav-link ul {
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
        /* flex-direction: column; */
        align-items: center;
    }

    .nav-link li {
        margin-right: 0;
        margin-bottom: 10px;

    }


    .nav-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner-container {
        flex-direction: column;

    }

    .banner-content,
    .banner-img {
        padding: 0;
        text-align: center;
        margin: 20px 0;

    }

    .online-container {
        flex-direction: column;
        margin-top: 850px;
        text-align: center;
    }

    .online-card {
        flex-direction: column;
        gap: 25px;


    }

    .online-description,
    .card-description {
        margin: 0 auto;
        padding: 0 10px;
    }

    .play-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .play-img,
    .small-img img {
        margin: 0 auto;
    }

    .games-section {
        margin: auto;
        flex-direction: column;
    }

    .footer-logo {
        padding-top: 50px;
    }

    .our-story ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 10px;
    }

    .btn-img {
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }

    .terms {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
    }

    .copy-right {
        padding-bottom: 50px;
    }
}